body{

text-align:center;
font-family:tahoma;

}


#board{

display:grid;

grid-template-columns:repeat(9,50px);

width:450px;

margin:30px auto;

}



.cell{

width:50px;

height:50px;

border:1px solid #777;

font-size:25px;

display:flex;

justify-content:center;

align-items:center;

cursor:pointer;

box-sizing:border-box;

}


/* Œÿ ÷ŒÌ„ »Ì‰ „—»⁄ Â«Ì 3◊3 */

.cell:nth-child(3n){

border-right:3px solid black;

}


.cell:nth-child(n+19):nth-child(-n+27),
.cell:nth-child(n+46):nth-child(-n+54){

border-bottom:3px solid black;

}


.cell:nth-child(9n+1){

border-left:3px solid black;

}


.cell:nth-child(-n+9){

border-top:3px solid black;

}



.fixed{

background:#ddd;

}


.selected{

background:#ffd966;

}



.highlight{

background:#fff2cc;

}



button{

padding:10px;

margin:5px;

font-size:18px;

cursor:pointer;

}